body, html {
    margin: 0;
    text-align: center;
}
#container {
    min-width: 600px;
    width: calc(100% - 10vw);
    height: calc(100vh - 5px);
    display: inline-block;
}
#left {
    width: 280px;
    height: 100%;
    float: left;
    background-color: rgb(46, 50, 56);
}
#mainBody {
    min-width: 320px;
    width: calc(100% - 280px);
    height: 100%;
    float: right;
    background-color: rgb(238, 238, 238);
}
#objectName {
    width: calc(100% - 40px);
    line-height: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    border-bottom: 1px solid rgb(214, 214, 214);
}
#chatBody {
    width: 100%;
    height: calc(100% - 50px - 180px);
    float: left;
    overflow: auto;
}
.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 16px;
    background-color: rgba(255,255,255,.5);
}
.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255,255,255,.5);
}
.scrollbar::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 10px;
    background-color: #555;
}
#chatInput {
    width: calc(100% - 20px);
    height: 180px;
    margin-right: 20px;
    float: left;
    border-top: 1px solid rgb(214, 214, 214);
}
#header {
    position: relative;
    display: inline-block;
    width: calc(100% - (18px*2));
    height: 40px;
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #24272c;
}
.headerName {
    color: #fff;
    position: absolute;
    margin-left: 10px;
    height: 40px;
    width: calc(100% - 86px);
    display: inline-block;
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#address {
    width: 100%;
    height: calc(100% - 77px);
    float: left;
    position: relative;
    overflow: auto;
}
.friend {
    height: 40px;
    padding: 12px 18px;
    text-align: left;
    overflow: hidden;
}
.friend:hover {
    background-color: #3a3f45;
}
.friendName {
    color: #fff;
    position: absolute;
    margin-left: 10px;
    height: 40px;
    width: calc(100% - 126px);
    display: inline-block;
    /*line-height: 40px;*/
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newCall {
    height: 20px;
    max-width: 30px;
    border-radius: 20px;
    padding: 0 5px;
    background: #C7090B;
    color: #fff;
    float: right;
    line-height: 20px;
    text-align: center;
}
.chatText {
    width: calc(100% - 40px);
    height: calc(100% - 50px);
    padding: 0;
    border: 0;
    background: inherit;
    resize: none;
}
.sendButton {
    width: 88px;
    height: 28px;
    float: right;
    border: 1px solid rgb(193, 193, 193);
    background: rgb(255, 255, 255);
    border-radius: 4px;

}
.objectDialog, .myDialog {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 16px;
    overflow: hidden;
}
.avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.chatContent {
    width: calc(100% - 90px);
    /*position: relative;*/
    /*left: 40px;*/
    /*display: inline-block;*/
    overflow: hidden;
}
.dialog {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 9px 13px 9px 13px;
    position: relative;
    /*left: 0;*/
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
}
.dialog:before {
    content: "";
    width: 0;
    height: 0;
    top: 15px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
}
.objectDialog > img, .objectDialog > .chatContent {
    float: left;
}
.objectDialog .dialog {
    background-color: white;
    float: left;
}
.objectDialog .dialog:before {
    border-right: 10px solid white;
    left: -9px;
}
.myDialog > img, .myDialog > .chatContent {
    float: right;
}
.myDialog .dialog {
    background-color: rgb(178, 226, 129);
    float: right;
}
.myDialog .dialog:before {
    border-left: 10px solid rgb(178, 226, 129);
    right: -9px;
}
.name {
    color: rgb(79, 79, 79);
    font-size: 12px;
}
.objectDialog .name {
    text-align: left;
    padding-left: 10px;
}
.myDialog .name {
    text-align: right;
    padding-right: 10px;
}
.time {
    font-size: 12px;
    color: #b2b2b2;
}
.colorful {
    animation: colorAnime 5s infinite;
}
@keyframes colorAnime {
    0% {color: rgb(255, 0, 0);}
    16.7% {color: rgb(255, 255, 0);}
    33.3%{color: rgb(0, 255, 0);}
    50%{color: rgb(0, 255, 255);}
    66.7%{color: rgb(0, 0, 255);}
    83.3%{color: rgb(255, 0, 255);}
    100%{color: rgb(255, 0, 0);}
}